pandas
scikit-learn
sklearn
spacy
emoji
nltk
wordcloud
seaborn
numpy
pandas
matplotlib
datasets
transformers
torch
protobuf<=3.20.1
Flask==1.1.2
Tweepy==4.10.0
jinja2<3.1.0
itsdangerous==2.0.1
werkzeug==2.0.3
